name: Deploy to Fly.io
on:
  push:
    branches:
      - main

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: graphql/package-lock.json
      - run: npm ci
        working-directory: graphql
      - run: npm run coverage
        working-directory: graphql
      - name: 'Report Coverage'
        if: always() 
        uses:  davelosert/vitest-coverage-report-action@v2
        with:
          working-directory: graphql
      
  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: success()
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --build-arg DATABASE_URL=${{ secrets.DATABASE_URL }}
        working-directory: graphql
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

  acceptance:
    runs-on: ubuntu-latest
    needs: deploy
    if: success()
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: acceptance/package-lock.json
      - run: npm ci
        working-directory: acceptance
      - run: npm run test
        working-directory: acceptance
      - run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git status
          node reporter.js
          git checkout main
          git add ../docs/acceptance-tests.html
          git commit -m "Acceptance test results [skip ci]"
          git push origin main
        if: always() 
        working-directory: acceptance
      - run: |
          echo "## Acceptance Tests" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          cat reports/cucumber-report.json | jq -r '
            .[] | 
            .elements[] | 
            (
              "**Feature: " + .name + "**\n\n" + 
              (
                .steps | map(
                  if .result.status == "passed" then 
                    "**" + (.keyword | rtrimstr(" ")) + "** " + .name 
                  elif .result.status == "failed" then 
                    "âŒ **" + (.keyword | rtrimstr(" ")) + "** " + .name 
                  else 
                    "**" + (.keyword | rtrimstr(" ")) + "** " + .name 
                  end
                ) | join("\n")
              )
            )
          ' >> $GITHUB_STEP_SUMMARY
        working-directory: acceptance
        if: always() 
